<%- include ('header'); -%>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<h2 >About</h2>
        <p> it all about testing don't miss up ....  </p>

</body>
<%- include ('footer'); -%>
</html>