<%- include ('header'); -%>


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="box" id="heading">
        <h1><%= toDay %></h1>
    </div>
    <div class="box">


        <ul>
            <% for(let i = 0; i < newitems.length; i++){ %>

            <div class="item">
                <input type="checkbox">
                <p><%= newitems[i] %></p>
            </div>

            <%}%> 
        </ul>  
         <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New iteam " autocomplete="off ">
        <button type="submit"  name = "buttom">+</button>

    </form>
    </div>

</body>

</html>
<%- include ('footer'); -%>